# Assignment06 - Sandeep Karanam - Data preprocessing notebook

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing 
from sklearn.preprocessing import StandardScaler

np.random.seed(42)

# Predictive Modeling for Customer Churn

### Problem Statement :
The dataset contains information about telecom customer behavior and attributes. The goal is to predict customer churn, which can be valuable for businesses to retain customers.

This dataset is randomly collected from an Iranian telecom companyâ€™s database over a period of 12 months. A total of 3150 rows of data, each representing a customer, bear information for 13 columns. The attributes that are in this dataset
are call failures, frequency of SMS, number of complaints, number of distinct calls, subscription length, age group, the charge amount, type of service, seconds of use, status, frequency of use, and Customer Value.

All of the attributes except for attribute churn is the aggregated data of the first 9 months. The churn labels are the state of the customers at the end of 12 months. The three months is the designated planning gap.

# Load Data

In [2]:
df=pd.read_csv('C:/Users/sande/Downloads/customer_churn.csv')
df.head(10)

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Age Group,Tariff Plan,Status,Age,Customer Value,Churn
0,8,0,38,0,4370,71,5,17,3,1,1,30,197.640,0
1,0,0,39,0,318,5,7,4,2,1,2,25,46.035,0
2,10,0,37,0,2453,60,359,24,3,1,1,30,1536.520,0
3,10,0,38,0,4198,66,1,35,1,1,1,15,240.020,0
4,3,0,38,0,2393,58,2,33,1,1,1,15,145.805,0
5,11,0,38,1,3775,82,32,28,3,1,1,30,282.280,0
6,4,0,38,0,2360,39,285,18,3,1,1,30,1235.960,0
7,13,0,37,2,9115,121,144,43,3,1,1,30,945.440,0
8,7,0,38,0,13773,169,0,44,3,1,1,30,557.680,0
9,7,0,38,1,4515,83,2,25,3,1,1,30,191.920,0

# Preparing the Data

Check column names, and for convenience, remove whitespaces...

In [3]:
df.columns

Index(['Call  Failure', 'Complains', 'Subscription  Length', 'Charge  Amount',
       'Seconds of Use', 'Frequency of use', 'Frequency of SMS',
       'Distinct Called Numbers', 'Age Group', 'Tariff Plan', 'Status', 'Age',
       'Customer Value', 'Churn'],
      dtype='object')

In [4]:
df.columns=[s.strip().upper().replace(' ','_') for s in df.columns]
df.columns

Index(['CALL__FAILURE', 'COMPLAINS', 'SUBSCRIPTION__LENGTH', 'CHARGE__AMOUNT',
       'SECONDS_OF_USE', 'FREQUENCY_OF_USE', 'FREQUENCY_OF_SMS',
       'DISTINCT_CALLED_NUMBERS', 'AGE_GROUP', 'TARIFF_PLAN', 'STATUS', 'AGE',
       'CUSTOMER_VALUE', 'CHURN'],
      dtype='object')

In [5]:
df.columns=[s.replace('__','_') for s in df.columns]
df.columns

Index(['CALL_FAILURE', 'COMPLAINS', 'SUBSCRIPTION_LENGTH', 'CHARGE_AMOUNT',
       'SECONDS_OF_USE', 'FREQUENCY_OF_USE', 'FREQUENCY_OF_SMS',
       'DISTINCT_CALLED_NUMBERS', 'AGE_GROUP', 'TARIFF_PLAN', 'STATUS', 'AGE',
       'CUSTOMER_VALUE', 'CHURN'],
      dtype='object')

We decide that a couple of variables aren't predictors; therefore we drop them and then check if there are any missing values in the remaining variables... In this we are dropping age_group since we already have age column and age gives more information. also dropping customer value which shows how much value is the customer to company based on seconds of use and other columns so, does not add value in predicting

In [6]:
# drop AGE_GROUP, and CUSTOMER_VALUE as predictors
df = df.drop(columns=['AGE_GROUP', 'CUSTOMER_VALUE'])
df.columns

Index(['CALL_FAILURE', 'COMPLAINS', 'SUBSCRIPTION_LENGTH', 'CHARGE_AMOUNT',
       'SECONDS_OF_USE', 'FREQUENCY_OF_USE', 'FREQUENCY_OF_SMS',
       'DISTINCT_CALLED_NUMBERS', 'TARIFF_PLAN', 'STATUS', 'AGE', 'CHURN'],
      dtype='object')

### Checking for missing values

In [7]:
df.isnull().sum()

CALL_FAILURE               0
COMPLAINS                  0
SUBSCRIPTION_LENGTH        0
CHARGE_AMOUNT              0
SECONDS_OF_USE             0
FREQUENCY_OF_USE           0
FREQUENCY_OF_SMS           0
DISTINCT_CALLED_NUMBERS    0
TARIFF_PLAN                0
STATUS                     0
AGE                        0
CHURN                      0
dtype: int64

no missing values in the data

### Check the variable types

In [8]:
df.dtypes

CALL_FAILURE               int64
COMPLAINS                  int64
SUBSCRIPTION_LENGTH        int64
CHARGE_AMOUNT              int64
SECONDS_OF_USE             int64
FREQUENCY_OF_USE           int64
FREQUENCY_OF_SMS           int64
DISTINCT_CALLED_NUMBERS    int64
TARIFF_PLAN                int64
STATUS                     int64
AGE                        int64
CHURN                      int64
dtype: object

all the attributes in the dataset are of integer datatype

In [9]:
df.STATUS.unique()

array([1, 2], dtype=int64)

status attribute depicts customer connection is active or not active 1- active and 2-non active

In [10]:
df = pd.get_dummies(
    df, 
    prefix_sep='_', 
    dummy_na=False, 
    drop_first=True, 
    columns=['STATUS'], 
    dtype='int8'
)

In [11]:
df.describe()

,CALL_FAILURE,COMPLAINS,SUBSCRIPTION_LENGTH,CHARGE_AMOUNT,SECONDS_OF_USE,FREQUENCY_OF_USE,FREQUENCY_OF_SMS,DISTINCT_CALLED_NUMBERS,TARIFF_PLAN,AGE,CHURN,STATUS_2
count,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000
mean,7.627937,0.076508,32.541905,0.942857,4472.459683,69.460635,73.174921,23.509841,1.077778,30.998413,0.157143,0.248254
std,7.263886,0.265851,8.573482,1.521072,4197.908687,57.413308,112.237560,17.217337,0.267864,8.831095,0.363993,0.432069
min,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,15.000000,0.000000,0.000000
25%,1.000000,0.000000,30.000000,0.000000,1391.250000,27.000000,6.000000,10.000000,1.000000,25.000000,0.000000,0.000000
50%,6.000000,0.000000,35.000000,0.000000,2990.000000,54.000000,21.000000,21.000000,1.000000,30.000000,0.000000,0.000000
75%,12.000000,0.000000,38.000000,1.000000,6478.250000,95.000000,87.000000,34.000000,1.000000,30.000000,0.000000,0.000000
max,36.000000,1.000000,47.000000,10.000000,17090.000000,255.000000,522.000000,97.000000,2.000000,55.000000,1.000000,1.000000

Will rename the status_2 column as status_non_active

In [12]:
df=df.rename(columns={'STATUS_2':'STATUS_NON_ACTIVE'})

In [13]:
df.head()

,CALL_FAILURE,COMPLAINS,SUBSCRIPTION_LENGTH,CHARGE_AMOUNT,SECONDS_OF_USE,FREQUENCY_OF_USE,FREQUENCY_OF_SMS,DISTINCT_CALLED_NUMBERS,TARIFF_PLAN,AGE,CHURN,STATUS_NON_ACTIVE
0,8,0,38,0,4370,71,5,17,1,30,0,0
1,0,0,39,0,318,5,7,4,1,25,0,1
2,10,0,37,0,2453,60,359,24,1,30,0,0
3,10,0,38,0,4198,66,1,35,1,15,0,0
4,3,0,38,0,2393,58,2,33,1,15,0,0

charge_amount is an ordinal attribute where 0 is the lowest amount and 10 is the highest 
even though this is categorical but there is clear order in values so chose not to use one hot-code.

In [14]:
df.CHARGE_AMOUNT.unique()

array([ 0,  1,  2,  3,  8,  4,  9,  7,  5, 10,  6], dtype=int64)

In [15]:
df.shape

(3150, 12)

dimensions of dataframe is 3150 rows and 12 columns

## Split and Normalize Data

we can see values of seconds_of_use is lot bigger than the values of rest of the columns so the models can be sensitive to differences in scale; therefore, we should begin by eliminating any differences in scale between the predictors/features. To accomplish this, we will standardize the values of each variable.

We will use the popular sklearn library's 'standard scaler' to accomplish this. This library contains many of the common functions we require when conducting analytics. The standard scaler function will standardize our variables. To achieve this, we will first need to train the scaler on the training data and then apply this trained scaler to standardize both the training and validation sets. 

In the dataset we have total of 3150 rows, so will do 70-30 split into test and train.

In [17]:
features = df.drop(columns=['CHURN'])
target = df['CHURN']

# split the data into validation and training set
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=1)

# create a standard scaler and fit it to the training set of predictors
scaler = preprocessing.StandardScaler()
scaler.fit(X_train)

# Transform the predictors of training and validation sets
X_train = scaler.transform(X_train) 
X_test = scaler.transform(X_test)

creating dataframes for train and test data

In [18]:
X_train=list(X_train)
y_train=list(y_train)
X_test=list(X_test)
y_test=list(y_test)


# Create DataFrames for the training and test sets
df_train = pd.DataFrame(data=X_train, columns=features.columns.tolist())  # Assuming 'features' is a DataFrame with feature names
df_train['TARGET'] = y_train # Adding the target column to the training set

df_test = pd.DataFrame(data=X_test, columns=features.columns.tolist())  # Assuming 'features' is a DataFrame with feature names
df_test['TARGET'] = y_test  # Adding the target column to the test set

generating csv files from dataframes, to use csv files in predictive modeling notebook.

In [19]:
#train_data_csv
df_train.to_csv('./train_data.csv', index=False)
#test_data_csv
df_test.to_csv('./test_data.csv', index=False)